* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: roboto, sans-serif;
}

header {
  height: 70vh;
  background-image: url(project-blue-book-header.jpg);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 15vw;
  background: rgba(0,0,0,0.8);
}

nav .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

ul li a {
  color: #E5E7EB;
  font-size: 18px;
  transition-duration: 0.5s;
}

ul li a:hover {
  text-shadow: 0 0 2px white;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

header .info {
  display: flex;
  gap: 10px;
  background: rgba(0,0,0,0.5);
  width: 80vw;
  padding: 30px;
  border-radius: 20px;
  margin: 20vh auto 0 auto;
  transition-duration: 2s;
}

@keyframes glow {
  0%,100%{background: rgba(0,0,0,0.5);}
  50%{background: rgba(0,0,0,0.7);}
}

@keyframes shadow {
  0%,100%{background: rgba(233, 30, 99, 0.5);
  box-shadow: 0;}
  50%{  background: rgba(233, 30, 99, 0.8);
    box-shadow: 0 0 10px white;}
}

header .info:hover {
  box-shadow: 0 0 8px white;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

header .info:hover .sign {
  animation-name: shadow;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

header .info .heading {
  font-family: cursive, sans-serif, monospace;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
  text-shadow: 2px 2px #ff0057;
}

header .info .sub-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 10px;
}

header .info img {
  width: 35vw;
  opacity: 0;
  animation-name: reveal;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  }

@keyframes reveal {
  from{opacity: 0;}
  to{opacity: 1;}
}

header .info .sign {
  display: inline-block;
  background: rgba(233, 30, 99, 0.5);
  font-size: 20px;
  padding: 15px 30px;
  border: 3px solid white;
  border-radius: 25px;
  margin-top: 30px;
  transition-duration: 1s;
}

header .info .sign {
  font-family: cursive, sans-serif, monospace;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

header .info .sign:hover {
  background: rgba(233, 30, 99, 0.8);
  box-shadow: 0 0 10px white;
  transform: translateY(-5px);
}

.info-cards {
  height: 40vh;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-cards .heading {
  width: 100vw;
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
  margin-top: 25px;
}

.info-cards .cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.info-cards .cards figure img {
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.info-cards .cards figure figcaption {
text-align: center;
}

section.quote {
  height: 60vh;
  background: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.quote .quote {
font-size: 36px;
color: #1F2937;
font-weight: lighter;
font-style: italic;
width: 60vw;
}

section.quote .sayer {
text-align: right;
font-weight: bold;
}

.action {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action .call-to-action-box {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  background: #3882F6;
  padding: 50px 0;
}

.action .call-to-action-box .heading{
  color: white;
  font-weight: bold;
}

.action .call-to-action-box .sub-text{
  color: #E5E7EB;
}

.action .call-to-action-box button{
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
}

footer {
  height: 80px;
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #E5E7EB;
  font-size: 18px;
}
